nav {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0px;
    background: rgb(172, 123, 123);
    box-shadow: 0 1px 1px -1px rgba(20, 14, 14, 0.22);
    z-index: 22;
  }

nav ul {
    float: right;
    margin-top: auto
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin-top: 0 5px;
}
nav ul li a {
    font-size: large;
}