*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    min-height: 100vh;
}

nav {
    background-color: rgba(80, 52, 3, 0.767);
    height: 80px;
    width: 100%;
    top: 0;
    right: 0px;
    z-index: 22;
    
}
nav {
    color: rgba(255, 68, 0, 0.993);
    font-size: 30px;
}
label.logo {
    color: rgb(255, 68, 0);
    font-size: 40px;
    line-height: 80px;
    padding: 0 5px;
    font-weight: 700;
}
nav ul {
    float: right;
    margin-right: 20px;

}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    padding: 7px 5px;
    font-size: 18px;
    color: var(--clr-secondary);
}

.menu a.active,
.menu a:hover {
  border-bottom: 2px solid var(--clr-primary);
  transition: 0.3s;
}

.checkbtn {
    size: 30px;
    float: right;
    line-height: 90px;
    margin-right: 5px;
    cursor: pointer;
}
#check {
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
}