.row{
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
  width: 25%;
  padding: 10px 15px;
}
.footer-col h4{
  font-size: 20px;
  color: black;
  text-transform: capitalize;
  position: relative;
  margin-bottom: 30px;

}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: rgb(0, 102, 255);
  height: 2px ;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: black;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: blue;
  padding-left: 10px;
}
.footer-col .Social-link a{
  display: inline-block;
  margin: 5px 10px;
  font-size: 30px;
  text-align: center;
  color: rgb(5, 3, 3);
  transition: all 0.5s ease;
}
.footer-col .Social-link a:hover{
  color: #002991;  
}
.section-center{
  text-align: center;
  margin: 30px 20px;

}
